html{
    height: 79%;
}

body{
    height: 100%;
}

.bgAll{
    background-image: url('../img/bgHome.jpg');
    background-size: cover;
}
.backdrop{
    backdrop-filter: brightness(0.5);
}
.textColor{
    color: white!important;
}

.carousel-item.active{
    display: flex!important;
    justify-content: center;
}
.card-img-top{
    height: 70%;
}
.card-img-top2{
    height: 100%;
    width: 100%;
}

.glass{
    background: rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border: 1px solid rgba(0, 0, 0, 0.32);
}